<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head::head">
        <title th:text="#{label.title}"></title>
    </head>
    <body>
        <nav th:replace="fragments/navbar::navbar"></nav>
        <form class="center vertical" action="#" th:action="@{|/addFlat/${buildingId}|}" th:object="${flat}" method="post" novalidate>
            <h1 th:text="#{label.addFlat}"></h1>
            <div class="form-container col-sm-5">
                <div class="form-group">
                    <label for="number" th:text="#{flat.number}"></label>
                    <div>
                        <input id="number" type="number" class="form-control" th:field="*{number}"/>
                        <div class="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rooms" th:text="#{flat.rooms}"></label>
                    <div>
                        <input id="rooms" type="number" class="form-control" th:field="*{rooms}"/>
                        <div class="error" th:if="${#fields.hasErrors('rooms')}" th:errors="*{rooms}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="area" th:text="#{flat.area}"></label>
                    <div class="input-labelled">
                        <input id="area" type="number" step="0.01" class="form-control" th:field="*{area}"/>
                        <span class="input-group-text">m²</span>
                        <div class="error error-fixed" th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></div>
                    </div>
                </div>
                <div class="button-group">
                    <button id="ok" type="submit" class="btn btn-primary" th:text="#{label.ok}"></button>
                    <button id="cancel" class="btn btn-danger" onclick="history.go(-1); return false" th:text="#{label.cancel}"></button>
                </div>
            </div>
        </form>
    </body>
</html>
