<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head::head">
        <title th:text="#{label.title}"></title>
    </head>
    <body>
        <nav th:replace="fragments/navbar::navbar"></nav>
        <div class="center container">
            <h1 th:text="#{label.listBills}"></h1>
            <table class="table table-bordered">
                <tr>
                    <th th:text="#{bill.issueDate}"></th>
                    <th th:text="#{bill.totalPrice}"></th>
                    <th></th>
                </tr>
                <tr th:each="entry : ${bills}">
                    <td th:text="${entry.key.issueDate}"></td>
                    <td th:text="${entry.value}"></td>
                    <td class="dropdown">
                        <i class="bi bi-three-dots-vertical" role="button" data-bs-toggle="dropdown"></i>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" th:href="@{|/bill/${entry.key.id}|}" th:text="#{label.details}"></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
