<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head::head">
        <title th:text="#{label.title}"></title>
    </head>
    <body>
        <nav th:replace="fragments/navbar::navbar"></nav>
        <div class="center vertical" th:object="${bill}">
            <h1 th:text="#{label.billDetails}"></h1>
            <div class="form-container col-sm-5">
                <div class="form-group">
                    <label th:text="#{bill.issueDate}"></label>
                    <p th:text="${#temporals.format(bill.issueDate, 'dd.MM.yyyy')}"></p>
                </div>
                <div class="form-group" th:each="utility : ${bill.utilities}">
                    <label th:text="#{${utility.type.label}}"></label>
                    <p th:text="${utility.price} + ' PLN'"></p>
                </div>
                <div class="button-group">
                    <button id="cancel" class="btn btn-danger" onclick="history.go(-1); return false" th:text="#{label.cancel}"></button>
                </div>
            </div>
        </div>
    </body>
</html>
