<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head::head(#{label.register})"></head>
    <body>
        <nav th:replace="fragments/navbar::navbar"></nav>
        <form class="center" action="#" th:action="@{/register}" th:object="${account}" method="post">
            <div class="form-container col-sm-4">
                <div class="form-group">
                    <label for="username" th:text="#{account.username}"></label>
                    <input id="username" class="form-control" th:field="*{username}"/>
                </div>
                <div class="form-group">
                    <label for="password" th:text="#{account.password}"></label>
                    <input id="password" type="password" class="form-control" th:field="*{password}"/>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" th:text="#{account.confirmPassword}"></label>
                    <input id="confirmPassword" type="password" class="form-control" th:field="*{confirmPassword}"/>
                </div>
                <div class="form-group">
                    <label for="email" th:text="#{account.email}"></label>
                    <input id="email" class="form-control" th:field="*{email}"/>
                </div>
                <div class="form-group">
                    <label for="firstName" th:text="#{account.firstName}"></label>
                    <input id="firstName" class="form-control" th:field="*{firstName}"/>
                </div>
                <div class="form-group">
                    <label for="lastName" th:text="#{account.lastName}"></label>
                    <input id="lastName" class="form-control" th:field="*{lastName}"/>
                </div>
                <div class="button-group">
                    <button id="submit" type="submit" class="btn btn-primary" th:text="#{label.ok}"></button>
                    <button id="cancel" class="btn btn-danger" th:text="#{label.cancel}"></button>
                </div>
            </div>
        </form>
    </body>
</html>
