<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head::head">
        <title th:text="#{label.title}"></title>
    </head>
    <body>
        <nav th:replace="fragments/navbar::navbar"></nav>
        <form class="center" action="#" th:action="@{/register}" th:object="${account}" method="post">
            <h1 th:text="#{label.register}"></h1>
            <div class="form-container col-sm-5">
                <div class="form-group">
                    <label for="username" th:text="#{account.username}"></label>
                    <div>
                        <input id="username" class="form-control" th:field="*{username}"/>
                        <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" th:text="#{account.password}"></label>
                    <div>
                        <input id="password" type="password" class="form-control" th:field="*{password}"/>
                        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" th:text="#{account.confirmPassword}"></label>
                    <div>
                        <input id="confirmPassword" type="password" class="form-control" th:field="*{confirmPassword}"/>
                        <div class="error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" th:text="#{account.email}"></label>
                    <div>
                        <input id="email" class="form-control" th:field="*{email}"/>
                        <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" th:text="#{account.phoneNumber}"></label>
                    <div>
                        <input id="phoneNumber" class="form-control" th:field="*{phoneNumber}"/>
                        <div class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" th:text="#{account.firstName}"></label>
                    <div>
                        <input id="firstName" class="form-control" th:field="*{firstName}"/>
                        <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" th:text="#{account.lastName}"></label>
                    <div>
                        <input id="lastName" class="form-control" th:field="*{lastName}"/>
                        <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                    </div>
                </div>
                <div class="g-recaptcha captcha" th:attr="data-sitekey=${captchaSiteKey}"></div>
                <div class="button-group">
                    <button id="ok" type="submit" class="btn btn-primary" th:text="#{label.ok}"></button>
                    <button id="cancel" class="btn btn-danger" onclick="history.go(-1); return false" th:text="#{label.cancel}"></button>
                </div>
            </div>
        </form>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </body>
</html>
